[flake8]
select = E22, E23, E24, E27, E3, E4, E7, F, I1, I2
per-file-ignores = facefusion.py:E402, install.py:E402
plugins = flake8-import-order
application_import_names = facefusion
import-order-style = pycharm
