amdsmi==7.0.2
numpy==2.2.6
onnx==1.19.1
onnxruntime==1.23.2
opencv-python==4.12.0.88
nvidia-ml-py==13.590.48
psutil==7.2.2
tqdm==4.67.1
scipy==1.16.3
starlette==0.50.0
uvicorn==0.34.0
websockets==15.0.1
