:root:root:root input[type="number"]
{
	max-width: 6rem;
}

:root:root:root [type="checkbox"],
:root:root:root [type="radio"]
{
	border-radius: 50%;
	height: 1.125rem;
	width: 1.125rem;
}

:root:root:root input[type="range"]
{
	height: 0.5rem;
}

:root:root:root input[type="range"]::-moz-range-thumb,
:root:root:root input[type="range"]::-webkit-slider-thumb
{
	background: var(--neutral-300);
	border: unset;
	border-radius: 50%;
	height: 1.125rem;
	width: 1.125rem;
}

:root:root:root input[type="range"]::-webkit-slider-thumb
{
	margin-top: 0.375rem;
}

:root:root:root .grid-wrap.fixed-height
{
	min-height: unset;
}

:root:root:root .grid-container
{
	grid-auto-rows: minmax(5em, 1fr);
	grid-template-columns: repeat(var(--grid-cols), minmax(5em, 1fr));
	grid-template-rows: repeat(var(--grid-rows), minmax(5em, 1fr));
}

:root:root:root .tab-nav > button
{
	border: unset;
	border-bottom: 0.125rem solid transparent;
	font-size: 1.125em;
	margin: 0.5rem 1rem;
	padding: 0;
}

:root:root:root .tab-nav > button.selected
{
	border-bottom: 0.125rem solid;
}
